# Files created during development
*.swp
*.swo
.vscode
.DS_Store
gh-md-toc # For making README.md table of contents (https://github.com/ekalinin/github-markdown-toc)
errors.txt
logs.txt

# Files created by installation
node_modules

# Token
#config.json
#development_config.json

# Files created while running bot
*.sqlite
*.db
database.db
server_config.json
logs

# Files required to run the python dashboard api script
GRAVEYARD DISCORD.JS V13/dashboard_api/.env

# Files created when running the python dashboard api script
GRAVEYARD DISCORD.JS V13/dashboard_api/venv
GRAVEYARD DISCORD.JS V13/dashboard_api/sessions.json
*.pyc
__pycache__
