# Files created during development
*.swp
*.swo
.vscode
.DS_Store
gh-md-toc # For making README.md table of contents (https://github.com/ekalinin/github-markdown-toc)

# Files created by installation
node_modules

# Files created while running bot
*.sqlite
server_config.json
logs
